 //TODO: Global: Style Entry Headers
 //TODO: #23 Purple areas in WooCommerce Widgets and other areas
 #content>.col-full {
     @include media-query ($on-large-screen) {
         box-sizing: content-box;
         position: relative;
     }
 }

 .page {
     >.col-full {
         padding: 0;
     }
 }

 .page-template-template-homepage:not(.has-post-thumbnail) {
     .site-main {
         padding-top: 0;
     }
 }

 .page-template-template-homepage {
     .site-main {
         padding-top: 0;
     }
 }

 .page-template-template-homepage {
     .entry-content {
         max-width: 100%;
     }
 }

 .page-template-template-homepage {
     .entry-header {
         max-width: 100%;
     }
 }
