#colophon>.col-full,
.sfb-footer-bar>.col-full {
    @include media-query ($on-large-screen) {
        box-sizing: content-box;
        position: relative;
    }
}

.site-footer,
.site-footer a {
    color: $color_white!important;
}