#page {
    #site-navigation {
        border-bottom-color: $hds_brown;
    }
}

#site-navigation {
    border-bottom: solid 9px $hds_brown;
    width: 100%;
}

.secondary-navigation>div>ul.menu,
.secondary-navigation>div>ul.nav-menu {
    float: none;
}

.secondary-navigation>div>ul.menu>li>a {
    color: $color_white;
    @include media-query($on-desktop) {
        padding: 1.2em .857em;
    }
    &:first-child {
        padding-left: 0;
    }
}

.site-header {
    .storefront-primary-navigation {
        background-color: $color_white;
    }
}