// .woocommerce #content input.button.alt:hover,
// .woocommerce #respond input#submit.alt:hover,
// .woocommerce a.button.alt:hover,
// .woocommerce button.button.alt:hover,
// .woocommerce input.button.alt:hover,
// .woocommerce-page #content input.button.alt:hover,
// .woocommerce-page #respond input#submit.alt:hover,
// .woocommerce-page a.button.alt:hover,
// .woocommerce-page button.button.alt:hover,
// .woocommerce-page input.button.alt:hover {
//     background: $hds_orange !important;
//     background-color: $hds_orange !important;
//     color: white !important;
//     text-shadow: transparent !important;
//     box-shadow: none;
//     border-color: #ca0606 !important;
// }
// .woocommerce #content input.button:hover,
// .woocommerce #respond input#submit:hover,
// .woocommerce a.button:hover,
// .woocommerce button.button:hover,
// .woocommerce input.button:hover,
// .woocommerce-page #content input.button:hover,
// .woocommerce-page #respond input#submit:hover,
// .woocommerce-page a.button:hover,
// .woocommerce-page button.button:hover,
// .woocommerce-page input.button:hover {
//     background: $hds_orange !important;
//     background-color: $hds_orange !important;
//     color: white !important;
//     text-shadow: transparent !important;
//     box-shadow: none;
//     border-color: #ca0606 !important;
// }
// .woocommerce #content input.button,
// .woocommerce #respond input#submit,
// .woocommerce a.button,
// .woocommerce button.button,
// .woocommerce input.button,
// .woocommerce-page #content input.button,
// .woocommerce-page #respond input#submit,
// .woocommerce-page a.button,
// .woocommerce-page button.button,
// .woocommerce-page input.button {
//     background: $hds_orange;
//     color: $color_white;
//     text-shadow: transparent !important;
//     border-color: #ca0606;
// }
// .woocommerce #content input.button.alt:hover,
// .woocommerce #respond input#submit.alt:hover,
// .woocommerce a.button.alt:hover,
// .woocommerce button.button.alt:hover,
// .woocommerce input.button.alt:hover,
// .woocommerce-page #content input.button.alt:hover,
// .woocommerce-page #respond input#submit.alt:hover,
// .woocommerce-page a.button.alt:hover,
// .woocommerce-page button.button.alt:hover,
// .woocommerce-page input.button.alt:hover {
//     background: $hds_orange !important;
//     box-shadow: none;
//     text-shadow: transparent !important;
//     color: $color_white;
//     border-color: #ca0606;
// }
#page .onsale {
    border-color: $hds_green!important;
    background-color: $hds_green!important;
    color: $color_white!important;
    position: absolute!important;
    border: none;
    text-align: center;
    width: 53px;
    height: 53px;
    line-height: 53px;
    border-radius: 53px;
    padding: 0;
    // top: 12px;
    // left: 12px;
}

ul.products li .onsale,
.single-product div.product .images .onsale {
    top: 12px;
    left: 12px;
    z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    background-color: $hds_green!important;
    color: $color_white!important;
}

.woocommerce-tabs ul.tabs li {
    &.active {
        background: $hds_brown;
        color: $color_white!important;
        a {
            color: $color_white!important;
            background: $hds_brown;
        }
    }
    a {
        color: $color_text-main;
        padding: 1em 0 1em 1em!important;
        &:focus {
            outline: none!important;
        }
    }
    &:not(.active) {
        &:hover {
            background: #f4f4f4;
        }
        a {
            &:hover {
                background: #f4f4f4;
            }
        }
    }
}

//TODO Refactor this code
a.cart-contents,
.site-header-cart .widget_shopping_cart a {
    color: $color_white!important;
}

.site-header-cart .widget_shopping_cart .product_list_widget .mini_cart_item a.remove:before {
    color: $color_red!important;
}

.site-header-cart .widget_shopping_cart,
.site-header .product_list_widget li .quantity {
    @include media-query($on-desktop) {
        color: #a2a1a1 !important;
    }
}

.site-header-cart .widget_shopping_cart p.total {
    color: $color_white!important;
}

.added_to_cart.alt,
.added_to_cart,
.widget a.button.checkout {
    background-color: $hds_red!important;
    border-color: $hds_red!important;
}
