/**
 * Home Decor Specialists
 */

$hds--primary-blue: #003c6c;
$hds--primary-yellow: #fdc700;
$hds--light-blue: #006aad;
$hds--lighter-blue: #13a5dc;
$hds--orange: #f29813;
$hds--light-orange: #ffbf00;
$hds--green: #93c02d;
$hds--blue-green: #007988;
$hds--magenta: #da216d;

/**
  * General Colors
  */

$color__background-body: #fefefe;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $hds--magenta;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $hds--light-blue;
$color__link-visited: $hds--primary-blue;
$color__link-hover: #003c6c;
$color__text-main: #0a0a0a;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__white: #fff;
// Gradients
$hds-gradient-ltr: linear-gradient(15deg, #003c6c, #006aad);